<div class="form-container">
  <h2>Register</h2>
  <form (ngSubmit)="register()">
    <div class="form-group">
      <label for="username">Username:</label>
      <input
        type="text"
        id="name"
        [(ngModel)]="user.username"
        name="name"
        required
      />
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        [(ngModel)]="user.email"
        name="email"
        required
      />
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="user.password"
        name="password"
        required
      />
    </div>

    <div class="form-group">
      <label for="role">Role:</label>
      <select id="role" [(ngModel)]="user.role" name="role" required>
        <option value="ADMIN">Admin</option>
        <option value="OD">OD</option>
        <option value="CD">CD</option>
      </select>
    </div>

    <button class="btn" type="submit">Register</button>
  </form>
  <p>Already an account? <a routerLink="/login">Login here</a></p>
</div>
